{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <https://www.gnu.org/licenses/>.
}}
{{!
    @template local_alphatrade/tools

    Maquette Portail Etudiant, screen "Outils".

    Example context (json):
    {"cards": [{"icon": "ph-scales", "title": "Calculateur risque", "text": "Calculer votre risque par trade", "url": "#"}]}
}}
<div class="at-screen at-tools">
    <h2 class="at-mb-20">{{#str}}tools_title, local_alphatrade{{/str}}</h2>
    <div class="at-tools-grid">
        {{#cards}}
            <div class="at-card at-elev-sm at-pad-20 at-tool-card">
                <i class="ph {{icon}}" aria-hidden="true"></i>
                <h4>{{title}}</h4>
                <p class="at-card-body">{{text}}</p>
                <a class="btn btn-secondary" href="{{url}}">{{#str}}open, local_alphatrade{{/str}} &rarr;</a>
            </div>
        {{/cards}}
    </div>
</div>
