{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <https://www.gnu.org/licenses/>.
}}
{{!
    @template theme_alphatrade/tabbar

    Mobile bottom bar: icon buttons only (maquette), 5 items for students.

    Example context (json):
    {"nav": {"tabbar": [{"key": "home", "label": "Accueil", "url": "#", "active": true, "svg": "<path d=\"M3 11l9-8 9 8\"></path>", "icon": ""}]} }
}}
<nav class="at-mob-bottom d-print-none" aria-label="{{#str}}tabbar, theme_alphatrade{{/str}}">
    {{#nav.tabbar}}
        <a href="{{url}}" class="at-mobbtn{{#active}} is-active{{/active}}" aria-label="{{label}}"{{#active}} aria-current="page"{{/active}}>
            {{#svg}}<svg width="19" height="19" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.7" aria-hidden="true">{{{svg}}}</svg>{{/svg}}
            {{^svg}}<i class="ph {{icon}}" aria-hidden="true"></i>{{/svg}}
        </a>
    {{/nav.tabbar}}
</nav>
